{% extends "base.html" %}

{% block content %}

<p>
  <a href="{% url "sponsor_add" %}">
    <button type="button" class="btn btn-primary btn-sm">スポンサー登録</button>
  </a>
</p>

<table class="table table-striped">
  <thead>
    <tr><th>ID</th><th>カテゴリ</th><th>名称</th><th></th></tr>
  </thead>
  <tbody>
    {% for sponsor in sponsors %}
      <tr>
        <th>{{sponsor.id}}</th>
        <td>{{sponsor.get_category_display}}</td>
        <td><a href="{% url "sponsor_detail" sponsor.id %}">{{sponsor.name}}</a> 様</td>
        <td>
          {% if sponsor.is_in_preparation %}
            チケット生成中
          {% else %}
          <a href="{% url "sponsor_ticket" sponsor.id %}"><button class="btn btn-xs btn-default">チケット</button></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
